// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : {}
- room = typeof(room) != 'undefined' ? room : {}

// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId
input(type='hidden', value= user.name)#userName
input(type='hidden', value= user.date)#userCreated
input(type='hidden', value= user.country)#userCountry
input(type='hidden', value= user.user)#userUserName
input(type='hidden', value= user.email)#userEmail
input(type='hidden', value= room.name)#roomName
input(type='hidden', value= room.address)#roomAddress
input(type='hidden', value= room._id)#roomId

script(type='text/javascript', src='/js/jquery.js')
script(type='text/javascript', src='https://raw.github.com/heyman/jquery-titlealert/master/jquery.titlealert.js')
script(type='text/javascript')
    //console.log(userRId);
    //console.log(user.name);
    mixpanel.track('Room', {'page name' : document.title, 'url' : window.location.pathname, 'usr' : userName.value});
    mixpanel.track_pageview("/room_nmps.html");
!!! 5
html(lang='en', style='height: 100%;')
head
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='https://raw.github.com/cburgmer/jquery-shiftenter/v0.0.4/jquery.shiftenter.css', rel='stylesheet')
    style
      body {
      padding-top: 10px;
      height: 90%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10pt;
      }
      #drop {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      padding: 1em 0;
      margin: 1em 0;
      color: #555;
      border: 3px dashed #555;
      border-radius: 7px;
      cursor: default;
      height: 50%;
      }
      #drop.hover {
      color: #f00;
      border-color: #f00;
      border-style: solid;
      box-shadow: inset 0 3px 4px #888;
      }
      #logfiles{}
    script(type='text/javascript', src='/socket.io/socket.io.js')
  body
    .container-fluid(style='height: 85%; margin-top:30px;', id='room_container')
      .row-fluid(style='height: 90%;')
        .span4(style='max-width: 15%; height: 100%; overflow: auto;')
          h2 Users
          table.table-condensed
            tbody#users-body
          - if (room.logs == 'on')
            h2 Logs
            #logfiles
            script(type='text/javascript')
              mixpanel.track_links('#logfiles a', 'Logfile opened');
        .span9(style='height: 100%;')
          #chat(style='height: 80%; overflow: auto; overflow-x: hidden; margin: 2%; border: 1px solid #CCC; border-radius: 5px; background-color: white;')
            table.table.table-condensed(style="table-layout:fixed;")
              tbody#chat-body
          .span12
            .control-group
              .controls
                textarea#data(style='min-width: 95%; max-width: 95%;')
      .row-fluid(style='height: 30%;')
        .span12(style='height: 90%;')
          .span4(style='max-width: 20%; height: 90%;')
          .span4.pagination-centered(style='min-width: 60%; height: 90%;')
            - if (room.features[1] == 1)
              #webcam
                video#localVideo(height='240px;', autoplay='autoplay', style='-webkit-transition: opacity 2s; -webkit-transform: scale(-1, 1); opacity: 1; margin-right: 3px; height: 90%;')
          .span4(style='max-width: 15%; height: 90%;')
            #drop Drop
            .attachments-drop-zone
              .drop-zone-image
              .drop-zone-text Drop files here to attach them
            - if (room.features[1] == 1)
              #footer
              #buttons
                button.btn.audio(type='button', data-toggle='button') Audio
                button.btn.video(type='button', data-toggle='button') Video
        .span12.pagination-centered(style='min-width: 100%;')
          p.lead(style='font-size: 14px;')
            a(href='https://tools.google.com/dlpage/chromesxs/', target='_blank') Chrome Canary 
            | required. Linux users install 
            a(href='http://www.chromium.org/getting-involved/dev-channel', target='_blank') Chromium Dev
            | . Bugs and cakes 
            a(href='mailto:albert.abello.lozano@aalto.fi') here
            | .
    #logModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3#myModalLabel Logfiles
        #modalBody.modal-body
          p
        .modal-footer
          button.btn(data-dismiss='modal', aria-hidden='true') Close
script(type='text/javascript', src='/js/bootstrap.js')
include modals/alert
include modals/confirm
script(src='/js/views/jquery.shiftenter.js')
- if (room.features[0] == 1)
  script(src='/js/views/room.js')
  script(src='/js/controllers/roomController.js')
  script(src='/js/controllers/chatController.js')
- if (room.features[1] == 1)
  script(src='/js/controllers/webrtcController.js')
script(src='/js/views/showdown.js')
